<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>小民大排档(武泰闸店) </string>
		<key>subTitle</key>
		<string>湖北省武汉市武昌区白沙洲街涂家沟社区</string>
		<key>latitude</key>
		<string>30.520120</string>
		<key>longitude</key>
		<string>114.304320</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>米窝寿司外卖店(一元路店)</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区一元路4号</string>
		<key>latitude</key>
		<string>30.593300</string>
		<key>longitude</key>
		<string>114.302510</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>小方块甜点</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区解放大道1070号</string>
		<key>latitude</key>
		<string>30.592410</string>
		<key>longitude</key>
		<string>114.291610</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>米窝寿司外卖店(一元路店)</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区一元路4号</string>
		<key>latitude</key>
		<string>30.593300</string>
		<key>longitude</key>
		<string>114.302510</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>奈雪の茶(新天地店)</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区永清街沈阳社区东北方向</string>
		<key>latitude</key>
		<string>30.606980</string>
		<key>longitude</key>
		<string>114.311160</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>台盖(壹方购物中心店)</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区中山大道1515号壹方购物中心1层</string>
		<key>latitude</key>
		<string>30.610732</string>
		<key>longitude</key>
		<string>114.310844</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>啊么啊么老铜锅</string>
		<key>subTitle</key>
		<string>湖北省武汉市江汉区万松街白松社</string>
		<key>latitude</key>
		<string>30.592110</string>
		<key>longitude</key>
		<string>14.266980</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>胖子无名锅仔</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区四唯街麟趾社区</string>
		<key>latitude</key>
		<string>30.599664</string>
		<key>longitude</key>
		<string>114.304600</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>余记精粉世家</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江汉区马场角路48号</string>
		<key>latitude</key>
		<string>30.605860</string>
		<key>longitude</key>
		<string>114.265070</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>花子牛肉粉 </string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区西马街熊家台社区</string>
		<key>latitude</key>
		<string>30.5926250</string>
		<key>longitude</key>
		<string>114.289169</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>孚味和风の精致寿司 </string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区芦沟桥路1号</string>
		<key>latitude</key>
		<string>30.606610</string>
		<key>longitude</key>
		<string>114.311360</string>
	</dict>
</array>
</plist>
