<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>WechatIMG181528959676_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>小民大排档(武泰闸店) </string>
		<key>subTitle</key>
		<string>湖北省武汉市武昌区白沙洲街涂家沟社区</string>
		<key>latitude</key>
		<string>30.520120</string>
		<key>longitude</key>
		<string>114.304320</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG191528959676_.pic</string>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>米窝寿司外卖店(一元路店)</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区一元路4号</string>
		<key>latitude</key>
		<string>30.593300</string>
		<key>longitude</key>
		<string>114.302510</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG201528959676_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>小方块甜点</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区解放大道1070号</string>
		<key>latitude</key>
		<string>30.592410</string>
		<key>longitude</key>
		<string>114.291610</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG211528960520_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>奈雪の茶(新天地店)</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区永清街沈阳社区东北方向</string>
		<key>latitude</key>
		<string>30.606980</string>
		<key>longitude</key>
		<string>114.311160</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG221528960520_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>台盖(壹方购物中心店)</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区中山大道1515号壹方购物中心1层</string>
		<key>latitude</key>
		<string>30.610732</string>
		<key>longitude</key>
		<string>114.310844</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG231528960521_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>啊么啊么老铜锅</string>
		<key>subTitle</key>
		<string>湖北省武汉市江汉区万松街白松社</string>
		<key>latitude</key>
		<string>30.592110</string>
		<key>longitude</key>
		<string>14.266980</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG241528960521_.pic</string>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>胖子无名锅仔</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区四唯街麟趾社区</string>
		<key>latitude</key>
		<string>30.599664</string>
		<key>longitude</key>
		<string>114.304600</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG261528960522_.pic-1</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>余记精粉世家</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江汉区马场角路48号</string>
		<key>latitude</key>
		<string>30.605860</string>
		<key>longitude</key>
		<string>114.265070</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG27</string>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>花子牛肉粉 </string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区西马街熊家台社区</string>
		<key>latitude</key>
		<string>30.5926250</string>
		<key>longitude</key>
		<string>114.289169</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG281528962109_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>一笼简单点(凯德1818)</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市武昌区中北路109号</string>
		<key>latitude</key>
		<string>30.552480</string>
		<key>longitude</key>
		<string>114.339900</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG291528962109_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>四张日式烧肉专门店(大智路店)</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区球场街同庆阁社区西南方向</string>
		<key>latitude</key>
		<string>30.591330</string>
		<key>longitude</key>
		<string>114.291770</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG261528960522_.pic-2</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>孚味和风の精致寿司 </string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区芦沟桥路1号</string>
		<key>latitude</key>
		<string>30.606610</string>
		<key>longitude</key>
		<string>114.311360</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG301528962109_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>将太无二(凯德店) </string>
		<key>subTitle</key>
		<string>中国湖北省武汉市武昌区中北路109号</string>
		<key>latitude</key>
		<string>30.552669</string>
		<key>longitude</key>
		<string>114.339641</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG311528962110_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>武汉市极屋串宗酒场</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区江汉一路90附</string>
		<key>latitude</key>
		<string>30.582850</string>
		<key>longitude</key>
		<string>114.291850</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG321528962110_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>山葵家精致料理寿司吧(武汉天地店) </string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区永清街沈阳社区东北方向</string>
		<key>latitude</key>
		<string>30.607530</string>
		<key>longitude</key>
		<string>114.312090</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG331528962110_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>左记港食CHOR Taste 027-82797699</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区解放南路168号</string>
		<key>latitude</key>
		<string>30.597332</string>
		<key>longitude</key>
		<string>114.298070</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG341528962110_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>虎丸烧肉店</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江岸区胜利街359号</string>
		<key>latitude</key>
		<string>30.606160</string>
		<key>longitude</key>
		<string>114.310410</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG351528962110_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>北京羲和雅苑烤鸭坊</string>
		<key>subTitle</key>
		<string>湖北省武汉市江岸区塔子湖街黄浦村东南方向</string>
		<key>latitude</key>
		<string>30.609895</string>
		<key>longitude</key>
		<string>114.309865</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG361528962111_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>胜山日本料理(西北湖店) </string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江汉区新华路281附</string>
		<key>latitude</key>
		<string>30.603330</string>
		<key>longitude</key>
		<string>114.271090</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG371528962112_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>EAT ALL 18571455082</string>
		<key>subTitle</key>
		<string>中国湖北省武汉市江汉区唐家墩路5号</string>
		<key>latitude</key>
		<string>30.611660</string>
		<key>longitude</key>
		<string>114.267900</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WechatIMG381528962113_.pic</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>CANDLE HOUSE</string>
		<key>subTitle</key>
		<string>湖北省武汉市江汉区常青街邬家墩社区南方向</string>
		<key>latitude</key>
		<string>30.608040</string>
		<key>longitude</key>
		<string>114.262050</string>
	</dict>
</array>
</plist>
